@use 'sass:color';
@use 'sass:list';
@use 'sass:map';

@use "@catppuccin/palette/scss/catppuccin";

$prefix: '-ctp';

$variants: (
  default: '500',
  tint: (400, 300, 200, 100, 50),
  shade: (600, 700, 800, 900, 950)
);

@function isAccent ($color-name) {
  $accents: ('rosewater', 'flamingo', 'pink', 'mauve', 'red', 'maroon', 'peach', 'yellow', 'green', 'teal', 'sky', 'sapphire', 'blue', 'lavender');
  $is-accent: false;
  @each $accent in $accents {
    @if ($color-name == $accent) { $is-accent: true; }
  }
  @return $is-accent;
}

@theme inline {
  @each $ctp-color-name, $ctp-color-value in map.get(catppuccin.$palette, 'latte') { // this is using latte as a dummy because it only needs to iterate over the structure
    --color#{$prefix}-#{$ctp-color-name}: var(--catppuccin-color-#{$ctp-color-name});
    @if (isAccent($ctp-color-name)) {
      @each $variant-type, $variant-identifier in $variants {
        @for $i from 1 through list.length($variant-identifier) {
          @if ($variant-type == 'default') {
            --color#{$prefix}-#{$ctp-color-name}-#{$variant-identifier}: var(--catppuccin-color-#{$ctp-color-name}-#{$variant-identifier});
          }
          @else {
            --color#{$prefix}-#{$ctp-color-name}-#{list.nth($variant-identifier, $i)}: var(--catppuccin-color-#{$ctp-color-name}-#{list.nth($variant-identifier, $i)});
          }
        }
      }
    }
  }
}

@mixin createFlavorPalette ($flavor) {
  @each $ctp-color-name, $ctp-color-value in map.get(catppuccin.$palette, 'latte') { // this is using latte as a dummy because it only needs to iterate over the structure
    --catppuccin-color-#{$ctp-color-name}: #{catppuccin.get-color($flavor, $ctp-color-name)};
    @if (isAccent($ctp-color-name)) {
      @each $variant-type, $variant-identifier in $variants {
        @for $i from 1 through list.length($variant-identifier) {
          @if ($variant-type == 'default') {
            --catppuccin-color-#{$ctp-color-name}-#{$variant-identifier}: #{catppuccin.get-color($flavor, $ctp-color-name)};
            // --color#{$prefix}-#{$ctp-color-name}-#{$variant-identifier}: var(--catppuccin-color-#{$ctp-color-name}-#{$variant-identifier});
          }
          @else {
            --catppuccin-color-#{$ctp-color-name}-#{list.nth($variant-identifier, $i)}: #{catppuccin.get-color($flavor, $ctp-color-name, $variant-type, $i)};
            // --color#{$prefix}-#{$ctp-color-name}-#{list.nth($variant-identifier, $i)}: var(--catppuccin-color-#{$ctp-color-name}-#{list.nth($variant-identifier, $i)});
          }
        }
      }
    }
  }
}

@layer base {
  :root {
    @include createFlavorPalette ('latte');
    @variant dark {
      @include createFlavorPalette ('mocha');
    }
  }
  .latte { @include createFlavorPalette ('latte'); }
  .frappe { @include createFlavorPalette ('frappe'); }
  .macchiato { @include createFlavorPalette ('macchiato'); }
  .mocha { @include createFlavorPalette ('mocha'); }
}

@custom-variant latte (&:where(.latte, .latte *));
@custom-variant frappe (&:where(.frappe, .frappe *));
@custom-variant macchiato (&:where(.macchiato, .macchiato *));
@custom-variant mocha (&:where(.mocha, .mocha *));
