<div class="
  latte
  p-6 md:p-12
  bg-ctp-base
  grid place-items-center
">

  <h2 class="
    font-bold text-2xl
  ">
    🌻
    <span class="
      bg-linear-35 from-ctp-yellow to-ctp-peach bg-clip-text
      text-transparent
    ">
      Latte
    </span>
  </h2>

  <table class="mt-3 border-separate border-spacing-1 sm:border-spacing-2">
    <tr class="
      *:[writing-mode:vertical-lr] sm:*:[writing-mode:horizontal-tb]
    ">
      <td></td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">50</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">100</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">200</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">300</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">400</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">500</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">600</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">700</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">800</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">900</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">950</td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Rosewater</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Flamingo</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Pink</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Mauve</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Red</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Maroon</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Peach</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Yellow</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Green</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Teal</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Sky</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Sapphire</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Blue</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Lavender</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-950"></div></td>
    </tr>
  </table>

</div>



<div class="
  frappe
  p-6 md:p-12
  bg-ctp-base
  grid place-items-center
">

  <h2 class="
    font-bold text-2xl
  ">
  🪴
  <span class="
    bg-linear-35 from-ctp-rosewater to-ctp-flamingo bg-clip-text
    text-transparent
  ">
    Frappé
  </span>
  </h2>

  <table class="mt-3 border-separate border-spacing-2">
    <tr class="
      *:[writing-mode:vertical-lr] sm:*:[writing-mode:horizontal-tb]
    ">
      <td></td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">50</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">100</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">200</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">300</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">400</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">500</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">600</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">700</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">800</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">900</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">950</td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Rosewater</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Flamingo</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Pink</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Mauve</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Red</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Maroon</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Peach</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Yellow</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Green</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Teal</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Sky</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Sapphire</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Blue</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Lavender</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-950"></div></td>
    </tr>
  </table>

</div>



<div class="
  macchiato
  p-6 md:p-12
  bg-ctp-base
  grid place-items-center
">

  <h2 class="
    font-bold text-2xl
  ">
    🌺
    <span class="
      bg-linear-35 from-ctp-red to-ctp-maroon bg-clip-text
      text-transparent
    ">
      Macchiato
    </span>
  </h2>

  <table class="mt-3 border-separate border-spacing-2">
    <tr class="
      *:[writing-mode:vertical-lr] sm:*:[writing-mode:horizontal-tb]
    ">
      <td></td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">50</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">100</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">200</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">300</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">400</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">500</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">600</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">700</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">800</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">900</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">950</td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Rosewater</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Flamingo</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Pink</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Mauve</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Red</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Maroon</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Peach</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Yellow</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Green</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Teal</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Sky</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Sapphire</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Blue</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Lavender</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-950"></div></td>
    </tr>
  </table>

</div>




<div class="
  mocha
  p-6 md:p-12
  bg-ctp-base
  flex flex-col items-center
">

  <h2 class="
    font-bold text-2xl
  ">
    🌿
    <span class="
      bg-linear-35 from-ctp-green to-ctp-teal bg-clip-text
      text-transparent
    ">
      Mocha
    </span>
  </h2>

  <table class="mt-3 border-separate border-spacing-2">
    <tr class="
      *:[writing-mode:vertical-lr] sm:*:[writing-mode:horizontal-tb]
    ">
      <td></td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">50</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">100</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">200</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">300</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">400</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">500</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">600</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">700</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">800</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">900</td>
      <td class="text-xs text-ctp-subtext0 font-mono font-normal text-left sm:text-center transform rotate-180 sm:rotate-0">950</td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Rosewater</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-rosewater-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Flamingo</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-flamingo-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Pink</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-pink-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Mauve</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-mauve-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Red</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-red-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Maroon</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-maroon-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Peach</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-peach-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Yellow</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-yellow-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Green</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-green-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Teal</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-teal-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Sky</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sky-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Sapphire</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-sapphire-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Blue</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-blue-950"></div></td>
    </tr>
    <tr>
      <th class="text-xs text-ctp-subtext0 font-mono font-normal text-right">Lavender</th>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-50"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-100"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-200"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-300"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-400"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-500"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-600"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-700"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-800"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-900"></div></td>
      <td><div class="w-4 h-4 sm:w-6 sm:h-6 md:w-10 md:h-10 lg:w-14 lg:h-14 rounded-[2px] bg-ctp-lavender-950"></div></td>
    </tr>
  </table>

</div>
