<form id="flavour-switcher" class="
  inline-block px-4 py-2 mt-8
  bg-linear-35 from-ctp-primary-400 to-ctp-secondary-400 hover:from-ctp-primary-500 hover:to-ctp-secondary-500
  bg-ctp-mantle hover:bg-ctp-mantle/80 dark:bg-ctp-mantle dark:hover:bg-ctp-mantle/80
  text-sm font-semibold text-black/70 dark:text-ctp-crust
  rounded-[2px]
  transition-colors
  flex flex-row
">
  <div class="flavour">
    <input type="radio" name="flavour" id="latte" value="latte" aria-hidden class="
      hidden
    ">
    <label for="latte">🌻</label>
  </div>
  <div class="flavour">
    <input type="radio" name="flavour" id="frappe" value="frappe" aria-hidden class="
      hidden
    ">
    <label for="frappe">🪴</label>
  </div>
  <div class="flavour">
    <input type="radio" name="flavour" id="macchiato" value="macchiato" aria-hidden class="
      hidden
    ">
    <label for="macchiato">🌺</label>
  </div>
  <div class="flavour">
    <input type="radio" name="flavour" id="mocha" value="mocha" aria-hidden class="
      hidden
    ">
    <label for="mocha">🌿</label>
  </div>
</form>
