<div class="
  relative
  max-w-sm p-6
  bg-ctp-base shadow-lg
  rounded-lg
  overflow-hidden
  transition ease-on-out duration-700 transform hover:-translate-y-2
">
  <div class="
    absolute top-0 right-0
    m-6
  ">
    <span class="
      px-3 py-1
      inline-flex items-center
      bg-ctp-primary-200
      rounded-full
      text-sm font-medium text-ctp-primary-900
    ">
      v4.0
    </span>
  </div>
  <div class="mb-8">
    <h3 class="text-2xl font-semibold text-ctp-primary">production-ready</h3>
    <p class="mt-4 text-ctp-text">Unlock the beautify of Catppuccin using your favourite CSS framework.</p>
  </div>
  <ul class="mb-8 space-y-4 text-ctp-subtext1">
    <li class="flex items-center">
      <svg class="h-6 w-6 text-ctp-green mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
      </svg>
      <span>4 beautiful flavours</span>
    </li>
    <li class="flex items-center">
      <svg class="h-6 w-6 text-ctp-green mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
      </svg>
      <span>14 accent colour</span>
    </li>
    <li class="flex items-center">
      <svg class="h-6 w-6 text-ctp-green mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
      </svg>
      <span>11 shades per accent colour</span>
    </li>
  </ul>

  <a href="#" class="
    block w-full
    py-3 px-6
    bg-linear-200 from-ctp-secondary-400 to-ctp-primary-600 hover:from-ctp-secondary-300 hover:to-ctp-primary-500
    rounded-md
    transition duration-300
    font-medium text-center text-ctp-base dark:text-ctp-crust
  ">
    Get Started
  </a>
</div>
