---
import Layout from '../layouts/Layout.astro'

import WelcomeHero from '@components/WelcomeHero.astro';
import AudioPlayer from '@components/AudioPlayer.astro';
import PricingCard from '@components/PricingCard.astro';
---

<Layout>

  <WelcomeHero />

  <div class="lg:grid lg:grid-cols-2">
    <AudioPlayer />
    <PricingCard />
  </div>

</Layout>
