---
import AnimatedPepperjack from '@components/AnimatedPepperjack.astro';
---


<div class="
  hero
  relative
  w-screen h-screen
  p-6 md:p-12
  bg-linear-35 from-ctp-base to-ctp-mantle
  text-ctp-text
  overflow-clip
">

  <div class="
    pepperjack
    h-12
    z-10
  ">
    <AnimatedPepperjack />
  </div>

  <div class="
    blurb
    mt-16 md:mt-0
    md:self-center
    font-bold
    z-10
  ">
    <h1 class="
      bg-linear-35 from-ctp-flamingo to-ctp-rosewater bg-clip-text
      text-4xl text-transparent
    ">Catppuccin <span class="text-ctp-text">×</span> tailwindcss</h1>
    <p class="mt-8">Elevate your projects with Catppuccin's pastel theme baked right into tailwindcss. This port offers an extensive range of colors and gradients, ensuring a smooth and delightful design process.</p>
    <a href="https://github.com/catppuccin/tailwindcss" class="
      inline-block px-4 py-2 mt-8
      bg-linear-35 from-ctp-flamingo-400 to-ctp-rosewater-400 hover:from-ctp-flamingo-500 hover:to-ctp-rosewater-500
      bg-ctp-mantle hover:bg-ctp-mantle/80 dark:bg-ctp-mantle dark:hover:bg-ctp-mantle/80
      text-sm font-semibold text-black/70 dark:text-ctp-crust
      rounded-[2px]
      transition-colors
    ">Get started</a>
  </div>

  <div class="
    color-grid
    absolute
    transform translate-y-[35%] scale-100 rotate-70 origin-center-left
    md:bottom-0 md:right-0
    md:translate-x-[60%] md:translate-y-[0%] md:scale-120 md:rotate-10
    lg:bottom-0 lg:right-0
    lg:translate-x-[40%] lg:scale-150 lg:rotate-10
  ">
    <div class="flex mb-1 ml-52">
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-rosewater-50 dark:bg-ctp-rosewater-950"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-rosewater-100 dark:bg-ctp-rosewater-900"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-rosewater-200 dark:bg-ctp-rosewater-800"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-rosewater-300 dark:bg-ctp-rosewater-700"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-rosewater-400 dark:bg-ctp-rosewater-600"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-rosewater-500 dark:bg-ctp-rosewater-500"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-rosewater-600 dark:bg-ctp-rosewater-400"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-rosewater-700 dark:bg-ctp-rosewater-300"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-rosewater-800 dark:bg-ctp-rosewater-200"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-rosewater-900 dark:bg-ctp-rosewater-100"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-rosewater-950 dark:bg-ctp-rosewater-50"></div>
    </div>
    <div class="flex mb-1 ml-48">
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-flamingo-50 dark:bg-ctp-flamingo-950"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-flamingo-100 dark:bg-ctp-flamingo-900"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-flamingo-200 dark:bg-ctp-flamingo-800"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-flamingo-300 dark:bg-ctp-flamingo-700"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-flamingo-400 dark:bg-ctp-flamingo-600"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-flamingo-500 dark:bg-ctp-flamingo-500"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-flamingo-600 dark:bg-ctp-flamingo-400"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-flamingo-700 dark:bg-ctp-flamingo-300"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-flamingo-800 dark:bg-ctp-flamingo-200"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-flamingo-900 dark:bg-ctp-flamingo-100"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-flamingo-950 dark:bg-ctp-flamingo-50"></div>
    </div>
    <div class="flex mb-1 ml-44">
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-pink-50 dark:bg-ctp-pink-950"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-pink-100 dark:bg-ctp-pink-900"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-pink-200 dark:bg-ctp-pink-800"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-pink-300 dark:bg-ctp-pink-700"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-pink-400 dark:bg-ctp-pink-600"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-pink-500 dark:bg-ctp-pink-500"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-pink-600 dark:bg-ctp-pink-400"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-pink-700 dark:bg-ctp-pink-300"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-pink-800 dark:bg-ctp-pink-200"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-pink-900 dark:bg-ctp-pink-100"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-pink-950 dark:bg-ctp-pink-50"></div>
    </div>
    <div class="flex mb-1 ml-40">
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-mauve-50 dark:bg-ctp-mauve-950"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-mauve-100 dark:bg-ctp-mauve-900"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-mauve-200 dark:bg-ctp-mauve-800"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-mauve-300 dark:bg-ctp-mauve-700"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-mauve-400 dark:bg-ctp-mauve-600"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-mauve-500 dark:bg-ctp-mauve-500"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-mauve-600 dark:bg-ctp-mauve-400"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-mauve-700 dark:bg-ctp-mauve-300"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-mauve-800 dark:bg-ctp-mauve-200"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-mauve-900 dark:bg-ctp-mauve-100"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-mauve-950 dark:bg-ctp-mauve-50"></div>
    </div>
    <div class="flex mb-1 ml-36">
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-red-50 dark:bg-ctp-red-950"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-red-100 dark:bg-ctp-red-900"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-red-200 dark:bg-ctp-red-800"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-red-300 dark:bg-ctp-red-700"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-red-400 dark:bg-ctp-red-600"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-red-500 dark:bg-ctp-red-500"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-red-600 dark:bg-ctp-red-400"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-red-700 dark:bg-ctp-red-300"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-red-800 dark:bg-ctp-red-200"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-red-900 dark:bg-ctp-red-100"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-red-950 dark:bg-ctp-red-50"></div>
    </div>
    <div class="flex mb-1 ml-32">
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-maroon-50 dark:bg-ctp-maroon-950"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-maroon-100 dark:bg-ctp-maroon-900"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-maroon-200 dark:bg-ctp-maroon-800"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-maroon-300 dark:bg-ctp-maroon-700"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-maroon-400 dark:bg-ctp-maroon-600"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-maroon-500 dark:bg-ctp-maroon-500"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-maroon-600 dark:bg-ctp-maroon-400"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-maroon-700 dark:bg-ctp-maroon-300"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-maroon-800 dark:bg-ctp-maroon-200"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-maroon-900 dark:bg-ctp-maroon-100"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-maroon-950 dark:bg-ctp-maroon-50"></div>
    </div>
    <div class="flex mb-1 ml-28">
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-peach-50 dark:bg-ctp-peach-950"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-peach-100 dark:bg-ctp-peach-900"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-peach-200 dark:bg-ctp-peach-800"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-peach-300 dark:bg-ctp-peach-700"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-peach-400 dark:bg-ctp-peach-600"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-peach-500 dark:bg-ctp-peach-500"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-peach-600 dark:bg-ctp-peach-400"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-peach-700 dark:bg-ctp-peach-300"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-peach-800 dark:bg-ctp-peach-200"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-peach-900 dark:bg-ctp-peach-100"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-peach-950 dark:bg-ctp-peach-50"></div>
    </div>
    <div class="flex mb-1 ml-24">
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-yellow-50 dark:bg-ctp-yellow-950"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-yellow-100 dark:bg-ctp-yellow-900"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-yellow-200 dark:bg-ctp-yellow-800"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-yellow-300 dark:bg-ctp-yellow-700"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-yellow-400 dark:bg-ctp-yellow-600"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-yellow-500 dark:bg-ctp-yellow-500"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-yellow-600 dark:bg-ctp-yellow-400"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-yellow-700 dark:bg-ctp-yellow-300"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-yellow-800 dark:bg-ctp-yellow-200"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-yellow-900 dark:bg-ctp-yellow-100"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-yellow-950 dark:bg-ctp-yellow-50"></div>
    </div>
    <div class="flex mb-1 ml-20">
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-green-50 dark:bg-ctp-green-950"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-green-100 dark:bg-ctp-green-900"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-green-200 dark:bg-ctp-green-800"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-green-300 dark:bg-ctp-green-700"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-green-400 dark:bg-ctp-green-600"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-green-500 dark:bg-ctp-green-500"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-green-600 dark:bg-ctp-green-400"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-green-700 dark:bg-ctp-green-300"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-green-800 dark:bg-ctp-green-200"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-green-900 dark:bg-ctp-green-100"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-green-950 dark:bg-ctp-green-50"></div>
    </div>
    <div class="flex mb-1 ml-16">
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-teal-50 dark:bg-ctp-teal-950"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-teal-100 dark:bg-ctp-teal-900"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-teal-200 dark:bg-ctp-teal-800"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-teal-300 dark:bg-ctp-teal-700"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-teal-400 dark:bg-ctp-teal-600"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-teal-500 dark:bg-ctp-teal-500"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-teal-600 dark:bg-ctp-teal-400"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-teal-700 dark:bg-ctp-teal-300"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-teal-800 dark:bg-ctp-teal-200"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-teal-900 dark:bg-ctp-teal-100"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-teal-950 dark:bg-ctp-teal-50"></div>
    </div>
    <div class="flex mb-1 ml-12">
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sky-50 dark:bg-ctp-sky-950"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sky-100 dark:bg-ctp-sky-900"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sky-200 dark:bg-ctp-sky-800"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sky-300 dark:bg-ctp-sky-700"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sky-400 dark:bg-ctp-sky-600"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sky-500 dark:bg-ctp-sky-500"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sky-600 dark:bg-ctp-sky-400"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sky-700 dark:bg-ctp-sky-300"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sky-800 dark:bg-ctp-sky-200"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sky-900 dark:bg-ctp-sky-100"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sky-950 dark:bg-ctp-sky-50"></div>
    </div>
    <div class="flex mb-1 ml-8">
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sapphire-50 dark:bg-ctp-sapphire-950"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sapphire-100 dark:bg-ctp-sapphire-900"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sapphire-200 dark:bg-ctp-sapphire-800"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sapphire-300 dark:bg-ctp-sapphire-700"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sapphire-400 dark:bg-ctp-sapphire-600"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sapphire-500 dark:bg-ctp-sapphire-500"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sapphire-600 dark:bg-ctp-sapphire-400"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sapphire-700 dark:bg-ctp-sapphire-300"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sapphire-800 dark:bg-ctp-sapphire-200"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sapphire-900 dark:bg-ctp-sapphire-100"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-sapphire-950 dark:bg-ctp-sapphire-50"></div>
    </div>
    <div class="flex mb-1 ml-4">
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-blue-50 dark:bg-ctp-blue-950"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-blue-100 dark:bg-ctp-blue-900"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-blue-200 dark:bg-ctp-blue-800"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-blue-300 dark:bg-ctp-blue-700"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-blue-400 dark:bg-ctp-blue-600"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-blue-500 dark:bg-ctp-blue-500"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-blue-600 dark:bg-ctp-blue-400"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-blue-700 dark:bg-ctp-blue-300"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-blue-800 dark:bg-ctp-blue-200"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-blue-900 dark:bg-ctp-blue-100"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-blue-950 dark:bg-ctp-blue-50"></div>
    </div>
    <div class="flex mb-1">
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-lavender-50 dark:bg-ctp-lavender-950"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-lavender-100 dark:bg-ctp-lavender-900"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-lavender-200 dark:bg-ctp-lavender-800"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-lavender-300 dark:bg-ctp-lavender-700"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-lavender-400 dark:bg-ctp-lavender-600"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-lavender-500 dark:bg-ctp-lavender-500"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-lavender-600 dark:bg-ctp-lavender-400"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-lavender-700 dark:bg-ctp-lavender-300"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-lavender-800 dark:bg-ctp-lavender-200"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-lavender-900 dark:bg-ctp-lavender-100"></div>
      <div class="w-16 h-16 ml-1 rounded-[2px] bg-ctp-lavender-950 dark:bg-ctp-lavender-50"></div>
    </div>
  </div>

</div>



<style scoped>
.hero {
  display: grid;
  grid-template: 48px 1fr 2fr 1fr / 48px 2fr 3fr;
}

.pepperjack { grid-area: 1 / 1 / 2 / 2; }

.blurb { grid-area: 2 / 1 / 4 / -1; }

@media screen and (min-width: 48rem) {
  .blurb { grid-area: 3 / 1 / 4 / 3; }
}


.blurb p { text-shadow: 2px 2px 0 var(--catppuccin-color-crust); }
</style>
