@theme inline {
  --color-ctp-rosewater: var(--catppuccin-color-rosewater);
  --color-ctp-rosewater-500: var(--catppuccin-color-rosewater-500);
  --color-ctp-rosewater-400: var(--catppuccin-color-rosewater-400);
  --color-ctp-rosewater-300: var(--catppuccin-color-rosewater-300);
  --color-ctp-rosewater-200: var(--catppuccin-color-rosewater-200);
  --color-ctp-rosewater-100: var(--catppuccin-color-rosewater-100);
  --color-ctp-rosewater-50: var(--catppuccin-color-rosewater-50);
  --color-ctp-rosewater-600: var(--catppuccin-color-rosewater-600);
  --color-ctp-rosewater-700: var(--catppuccin-color-rosewater-700);
  --color-ctp-rosewater-800: var(--catppuccin-color-rosewater-800);
  --color-ctp-rosewater-900: var(--catppuccin-color-rosewater-900);
  --color-ctp-rosewater-950: var(--catppuccin-color-rosewater-950);
  --color-ctp-flamingo: var(--catppuccin-color-flamingo);
  --color-ctp-flamingo-500: var(--catppuccin-color-flamingo-500);
  --color-ctp-flamingo-400: var(--catppuccin-color-flamingo-400);
  --color-ctp-flamingo-300: var(--catppuccin-color-flamingo-300);
  --color-ctp-flamingo-200: var(--catppuccin-color-flamingo-200);
  --color-ctp-flamingo-100: var(--catppuccin-color-flamingo-100);
  --color-ctp-flamingo-50: var(--catppuccin-color-flamingo-50);
  --color-ctp-flamingo-600: var(--catppuccin-color-flamingo-600);
  --color-ctp-flamingo-700: var(--catppuccin-color-flamingo-700);
  --color-ctp-flamingo-800: var(--catppuccin-color-flamingo-800);
  --color-ctp-flamingo-900: var(--catppuccin-color-flamingo-900);
  --color-ctp-flamingo-950: var(--catppuccin-color-flamingo-950);
  --color-ctp-pink: var(--catppuccin-color-pink);
  --color-ctp-pink-500: var(--catppuccin-color-pink-500);
  --color-ctp-pink-400: var(--catppuccin-color-pink-400);
  --color-ctp-pink-300: var(--catppuccin-color-pink-300);
  --color-ctp-pink-200: var(--catppuccin-color-pink-200);
  --color-ctp-pink-100: var(--catppuccin-color-pink-100);
  --color-ctp-pink-50: var(--catppuccin-color-pink-50);
  --color-ctp-pink-600: var(--catppuccin-color-pink-600);
  --color-ctp-pink-700: var(--catppuccin-color-pink-700);
  --color-ctp-pink-800: var(--catppuccin-color-pink-800);
  --color-ctp-pink-900: var(--catppuccin-color-pink-900);
  --color-ctp-pink-950: var(--catppuccin-color-pink-950);
  --color-ctp-mauve: var(--catppuccin-color-mauve);
  --color-ctp-mauve-500: var(--catppuccin-color-mauve-500);
  --color-ctp-mauve-400: var(--catppuccin-color-mauve-400);
  --color-ctp-mauve-300: var(--catppuccin-color-mauve-300);
  --color-ctp-mauve-200: var(--catppuccin-color-mauve-200);
  --color-ctp-mauve-100: var(--catppuccin-color-mauve-100);
  --color-ctp-mauve-50: var(--catppuccin-color-mauve-50);
  --color-ctp-mauve-600: var(--catppuccin-color-mauve-600);
  --color-ctp-mauve-700: var(--catppuccin-color-mauve-700);
  --color-ctp-mauve-800: var(--catppuccin-color-mauve-800);
  --color-ctp-mauve-900: var(--catppuccin-color-mauve-900);
  --color-ctp-mauve-950: var(--catppuccin-color-mauve-950);
  --color-ctp-red: var(--catppuccin-color-red);
  --color-ctp-red-500: var(--catppuccin-color-red-500);
  --color-ctp-red-400: var(--catppuccin-color-red-400);
  --color-ctp-red-300: var(--catppuccin-color-red-300);
  --color-ctp-red-200: var(--catppuccin-color-red-200);
  --color-ctp-red-100: var(--catppuccin-color-red-100);
  --color-ctp-red-50: var(--catppuccin-color-red-50);
  --color-ctp-red-600: var(--catppuccin-color-red-600);
  --color-ctp-red-700: var(--catppuccin-color-red-700);
  --color-ctp-red-800: var(--catppuccin-color-red-800);
  --color-ctp-red-900: var(--catppuccin-color-red-900);
  --color-ctp-red-950: var(--catppuccin-color-red-950);
  --color-ctp-maroon: var(--catppuccin-color-maroon);
  --color-ctp-maroon-500: var(--catppuccin-color-maroon-500);
  --color-ctp-maroon-400: var(--catppuccin-color-maroon-400);
  --color-ctp-maroon-300: var(--catppuccin-color-maroon-300);
  --color-ctp-maroon-200: var(--catppuccin-color-maroon-200);
  --color-ctp-maroon-100: var(--catppuccin-color-maroon-100);
  --color-ctp-maroon-50: var(--catppuccin-color-maroon-50);
  --color-ctp-maroon-600: var(--catppuccin-color-maroon-600);
  --color-ctp-maroon-700: var(--catppuccin-color-maroon-700);
  --color-ctp-maroon-800: var(--catppuccin-color-maroon-800);
  --color-ctp-maroon-900: var(--catppuccin-color-maroon-900);
  --color-ctp-maroon-950: var(--catppuccin-color-maroon-950);
  --color-ctp-peach: var(--catppuccin-color-peach);
  --color-ctp-peach-500: var(--catppuccin-color-peach-500);
  --color-ctp-peach-400: var(--catppuccin-color-peach-400);
  --color-ctp-peach-300: var(--catppuccin-color-peach-300);
  --color-ctp-peach-200: var(--catppuccin-color-peach-200);
  --color-ctp-peach-100: var(--catppuccin-color-peach-100);
  --color-ctp-peach-50: var(--catppuccin-color-peach-50);
  --color-ctp-peach-600: var(--catppuccin-color-peach-600);
  --color-ctp-peach-700: var(--catppuccin-color-peach-700);
  --color-ctp-peach-800: var(--catppuccin-color-peach-800);
  --color-ctp-peach-900: var(--catppuccin-color-peach-900);
  --color-ctp-peach-950: var(--catppuccin-color-peach-950);
  --color-ctp-yellow: var(--catppuccin-color-yellow);
  --color-ctp-yellow-500: var(--catppuccin-color-yellow-500);
  --color-ctp-yellow-400: var(--catppuccin-color-yellow-400);
  --color-ctp-yellow-300: var(--catppuccin-color-yellow-300);
  --color-ctp-yellow-200: var(--catppuccin-color-yellow-200);
  --color-ctp-yellow-100: var(--catppuccin-color-yellow-100);
  --color-ctp-yellow-50: var(--catppuccin-color-yellow-50);
  --color-ctp-yellow-600: var(--catppuccin-color-yellow-600);
  --color-ctp-yellow-700: var(--catppuccin-color-yellow-700);
  --color-ctp-yellow-800: var(--catppuccin-color-yellow-800);
  --color-ctp-yellow-900: var(--catppuccin-color-yellow-900);
  --color-ctp-yellow-950: var(--catppuccin-color-yellow-950);
  --color-ctp-green: var(--catppuccin-color-green);
  --color-ctp-green-500: var(--catppuccin-color-green-500);
  --color-ctp-green-400: var(--catppuccin-color-green-400);
  --color-ctp-green-300: var(--catppuccin-color-green-300);
  --color-ctp-green-200: var(--catppuccin-color-green-200);
  --color-ctp-green-100: var(--catppuccin-color-green-100);
  --color-ctp-green-50: var(--catppuccin-color-green-50);
  --color-ctp-green-600: var(--catppuccin-color-green-600);
  --color-ctp-green-700: var(--catppuccin-color-green-700);
  --color-ctp-green-800: var(--catppuccin-color-green-800);
  --color-ctp-green-900: var(--catppuccin-color-green-900);
  --color-ctp-green-950: var(--catppuccin-color-green-950);
  --color-ctp-teal: var(--catppuccin-color-teal);
  --color-ctp-teal-500: var(--catppuccin-color-teal-500);
  --color-ctp-teal-400: var(--catppuccin-color-teal-400);
  --color-ctp-teal-300: var(--catppuccin-color-teal-300);
  --color-ctp-teal-200: var(--catppuccin-color-teal-200);
  --color-ctp-teal-100: var(--catppuccin-color-teal-100);
  --color-ctp-teal-50: var(--catppuccin-color-teal-50);
  --color-ctp-teal-600: var(--catppuccin-color-teal-600);
  --color-ctp-teal-700: var(--catppuccin-color-teal-700);
  --color-ctp-teal-800: var(--catppuccin-color-teal-800);
  --color-ctp-teal-900: var(--catppuccin-color-teal-900);
  --color-ctp-teal-950: var(--catppuccin-color-teal-950);
  --color-ctp-sky: var(--catppuccin-color-sky);
  --color-ctp-sky-500: var(--catppuccin-color-sky-500);
  --color-ctp-sky-400: var(--catppuccin-color-sky-400);
  --color-ctp-sky-300: var(--catppuccin-color-sky-300);
  --color-ctp-sky-200: var(--catppuccin-color-sky-200);
  --color-ctp-sky-100: var(--catppuccin-color-sky-100);
  --color-ctp-sky-50: var(--catppuccin-color-sky-50);
  --color-ctp-sky-600: var(--catppuccin-color-sky-600);
  --color-ctp-sky-700: var(--catppuccin-color-sky-700);
  --color-ctp-sky-800: var(--catppuccin-color-sky-800);
  --color-ctp-sky-900: var(--catppuccin-color-sky-900);
  --color-ctp-sky-950: var(--catppuccin-color-sky-950);
  --color-ctp-sapphire: var(--catppuccin-color-sapphire);
  --color-ctp-sapphire-500: var(--catppuccin-color-sapphire-500);
  --color-ctp-sapphire-400: var(--catppuccin-color-sapphire-400);
  --color-ctp-sapphire-300: var(--catppuccin-color-sapphire-300);
  --color-ctp-sapphire-200: var(--catppuccin-color-sapphire-200);
  --color-ctp-sapphire-100: var(--catppuccin-color-sapphire-100);
  --color-ctp-sapphire-50: var(--catppuccin-color-sapphire-50);
  --color-ctp-sapphire-600: var(--catppuccin-color-sapphire-600);
  --color-ctp-sapphire-700: var(--catppuccin-color-sapphire-700);
  --color-ctp-sapphire-800: var(--catppuccin-color-sapphire-800);
  --color-ctp-sapphire-900: var(--catppuccin-color-sapphire-900);
  --color-ctp-sapphire-950: var(--catppuccin-color-sapphire-950);
  --color-ctp-blue: var(--catppuccin-color-blue);
  --color-ctp-blue-500: var(--catppuccin-color-blue-500);
  --color-ctp-blue-400: var(--catppuccin-color-blue-400);
  --color-ctp-blue-300: var(--catppuccin-color-blue-300);
  --color-ctp-blue-200: var(--catppuccin-color-blue-200);
  --color-ctp-blue-100: var(--catppuccin-color-blue-100);
  --color-ctp-blue-50: var(--catppuccin-color-blue-50);
  --color-ctp-blue-600: var(--catppuccin-color-blue-600);
  --color-ctp-blue-700: var(--catppuccin-color-blue-700);
  --color-ctp-blue-800: var(--catppuccin-color-blue-800);
  --color-ctp-blue-900: var(--catppuccin-color-blue-900);
  --color-ctp-blue-950: var(--catppuccin-color-blue-950);
  --color-ctp-lavender: var(--catppuccin-color-lavender);
  --color-ctp-lavender-500: var(--catppuccin-color-lavender-500);
  --color-ctp-lavender-400: var(--catppuccin-color-lavender-400);
  --color-ctp-lavender-300: var(--catppuccin-color-lavender-300);
  --color-ctp-lavender-200: var(--catppuccin-color-lavender-200);
  --color-ctp-lavender-100: var(--catppuccin-color-lavender-100);
  --color-ctp-lavender-50: var(--catppuccin-color-lavender-50);
  --color-ctp-lavender-600: var(--catppuccin-color-lavender-600);
  --color-ctp-lavender-700: var(--catppuccin-color-lavender-700);
  --color-ctp-lavender-800: var(--catppuccin-color-lavender-800);
  --color-ctp-lavender-900: var(--catppuccin-color-lavender-900);
  --color-ctp-lavender-950: var(--catppuccin-color-lavender-950);
  --color-ctp-text: var(--catppuccin-color-text);
  --color-ctp-subtext1: var(--catppuccin-color-subtext1);
  --color-ctp-subtext0: var(--catppuccin-color-subtext0);
  --color-ctp-overlay2: var(--catppuccin-color-overlay2);
  --color-ctp-overlay1: var(--catppuccin-color-overlay1);
  --color-ctp-overlay0: var(--catppuccin-color-overlay0);
  --color-ctp-surface2: var(--catppuccin-color-surface2);
  --color-ctp-surface1: var(--catppuccin-color-surface1);
  --color-ctp-surface0: var(--catppuccin-color-surface0);
  --color-ctp-base: var(--catppuccin-color-base);
  --color-ctp-mantle: var(--catppuccin-color-mantle);
  --color-ctp-crust: var(--catppuccin-color-crust);
}
@layer base {
  :root {
    --catppuccin-color-rosewater: #dc8a78;
    --catppuccin-color-rosewater-500: #dc8a78;
    --catppuccin-color-rosewater-400: #de998c;
    --catppuccin-color-rosewater-300: #e0a69c;
    --catppuccin-color-rosewater-200: #e2b1ab;
    --catppuccin-color-rosewater-100: #e4bcb8;
    --catppuccin-color-rosewater-50: #e6c6c4;
    --catppuccin-color-rosewater-600: #d28372;
    --catppuccin-color-rosewater-700: #c27969;
    --catppuccin-color-rosewater-800: #af6d5e;
    --catppuccin-color-rosewater-900: #9a5f52;
    --catppuccin-color-rosewater-950: #804e43;
    --catppuccin-color-flamingo: #dd7878;
    --catppuccin-color-flamingo-500: #dd7878;
    --catppuccin-color-flamingo-400: #df8b8c;
    --catppuccin-color-flamingo-300: #e19b9c;
    --catppuccin-color-flamingo-200: #e3a9ab;
    --catppuccin-color-flamingo-100: #e4b5b8;
    --catppuccin-color-flamingo-50: #e6c1c4;
    --catppuccin-color-flamingo-600: #d37272;
    --catppuccin-color-flamingo-700: #c26969;
    --catppuccin-color-flamingo-800: #b05e5e;
    --catppuccin-color-flamingo-900: #9a5252;
    --catppuccin-color-flamingo-950: #804343;
    --catppuccin-color-pink: #ea76cb;
    --catppuccin-color-pink-500: #ea76cb;
    --catppuccin-color-pink-400: #eb89d0;
    --catppuccin-color-pink-300: #eb9ad4;
    --catppuccin-color-pink-200: #eca8d9;
    --catppuccin-color-pink-100: #ecb5dd;
    --catppuccin-color-pink-50: #edc1e1;
    --catppuccin-color-pink-600: #df70c2;
    --catppuccin-color-pink-700: #ce67b2;
    --catppuccin-color-pink-800: #ba5da1;
    --catppuccin-color-pink-900: #a4518e;
    --catppuccin-color-pink-950: #884275;
    --catppuccin-color-mauve: #8839ef;
    --catppuccin-color-mauve-500: #8839ef;
    --catppuccin-color-mauve-400: #9763f0;
    --catppuccin-color-mauve-300: #a47ef0;
    --catppuccin-color-mauve-200: #af93f1;
    --catppuccin-color-mauve-100: #baa5f1;
    --catppuccin-color-mauve-50: #c4b5f2;
    --catppuccin-color-mauve-600: #8236e4;
    --catppuccin-color-mauve-700: #7731d2;
    --catppuccin-color-mauve-800: #6b2bbe;
    --catppuccin-color-mauve-900: #5e25a7;
    --catppuccin-color-mauve-950: #4d1d8b;
    --catppuccin-color-red: #d20f39;
    --catppuccin-color-red-500: #d20f39;
    --catppuccin-color-red-400: #d55664;
    --catppuccin-color-red-300: #d87680;
    --catppuccin-color-red-200: #db8d95;
    --catppuccin-color-red-100: #dea1a8;
    --catppuccin-color-red-50: #e1b1b8;
    --catppuccin-color-red-600: #c80e36;
    --catppuccin-color-red-700: #b90c31;
    --catppuccin-color-red-800: #a7092b;
    --catppuccin-color-red-900: #930725;
    --catppuccin-color-red-950: #7a051d;
    --catppuccin-color-maroon: #e64553;
    --catppuccin-color-maroon-500: #e64553;
    --catppuccin-color-maroon-400: #e76972;
    --catppuccin-color-maroon-300: #e88289;
    --catppuccin-color-maroon-200: #e9969c;
    --catppuccin-color-maroon-100: #eaa7ad;
    --catppuccin-color-maroon-50: #ebb6bb;
    --catppuccin-color-maroon-600: #dc414f;
    --catppuccin-color-maroon-700: #ca3c48;
    --catppuccin-color-maroon-800: #b73540;
    --catppuccin-color-maroon-900: #a12e38;
    --catppuccin-color-maroon-950: #86242d;
    --catppuccin-color-peach: #fe640b;
    --catppuccin-color-peach-500: #fe640b;
    --catppuccin-color-peach-400: #fd7c57;
    --catppuccin-color-peach-300: #fb9077;
    --catppuccin-color-peach-200: #faa08f;
    --catppuccin-color-peach-100: #f8afa3;
    --catppuccin-color-peach-50: #f7bcb4;
    --catppuccin-color-peach-600: #f25f0a;
    --catppuccin-color-peach-700: #e05708;
    --catppuccin-color-peach-800: #cb4e07;
    --catppuccin-color-peach-900: #b24405;
    --catppuccin-color-peach-950: #943703;
    --catppuccin-color-yellow: #df8e1d;
    --catppuccin-color-yellow-500: #df8e1d;
    --catppuccin-color-yellow-400: #e19c5a;
    --catppuccin-color-yellow-300: #e2a879;
    --catppuccin-color-yellow-200: #e4b391;
    --catppuccin-color-yellow-100: #e6bea4;
    --catppuccin-color-yellow-50: #e7c8b5;
    --catppuccin-color-yellow-600: #d5871b;
    --catppuccin-color-yellow-700: #c47c18;
    --catppuccin-color-yellow-800: #b27015;
    --catppuccin-color-yellow-900: #9c6211;
    --catppuccin-color-yellow-950: #82500c;
    --catppuccin-color-green: #40a02b;
    --catppuccin-color-green-500: #40a02b;
    --catppuccin-color-green-400: #66aa5e;
    --catppuccin-color-green-300: #7fb47c;
    --catppuccin-color-green-200: #94bd93;
    --catppuccin-color-green-100: #a5c6a6;
    --catppuccin-color-green-50: #b4ceb6;
    --catppuccin-color-green-600: #3d9929;
    --catppuccin-color-green-700: #378c25;
    --catppuccin-color-green-800: #317f20;
    --catppuccin-color-green-900: #2a6f1b;
    --catppuccin-color-green-950: #215b15;
    --catppuccin-color-teal: #179299;
    --catppuccin-color-teal-500: #179299;
    --catppuccin-color-teal-400: #569fa5;
    --catppuccin-color-teal-300: #75abb1;
    --catppuccin-color-teal-200: #8db6bb;
    --catppuccin-color-teal-100: #a0c0c5;
    --catppuccin-color-teal-50: #b0c9ce;
    --catppuccin-color-teal-600: #158b92;
    --catppuccin-color-teal-700: #138086;
    --catppuccin-color-teal-800: #107379;
    --catppuccin-color-teal-900: #0d656a;
    --catppuccin-color-teal-950: #085357;
    --catppuccin-color-sky: #04a5e5;
    --catppuccin-color-sky-500: #04a5e5;
    --catppuccin-color-sky-400: #53afe7;
    --catppuccin-color-sky-300: #74b8e8;
    --catppuccin-color-sky-200: #8bc0ea;
    --catppuccin-color-sky-100: #9fc8ec;
    --catppuccin-color-sky-50: #b0d0ed;
    --catppuccin-color-sky-600: #049ddb;
    --catppuccin-color-sky-700: #0391ca;
    --catppuccin-color-sky-800: #0283b6;
    --catppuccin-color-sky-900: #0272a0;
    --catppuccin-color-sky-950: #015e85;
    --catppuccin-color-sapphire: #209fb5;
    --catppuccin-color-sapphire-500: #209fb5;
    --catppuccin-color-sapphire-400: #59aabd;
    --catppuccin-color-sapphire-300: #77b3c4;
    --catppuccin-color-sapphire-200: #8ebdcb;
    --catppuccin-color-sapphire-100: #a0c5d2;
    --catppuccin-color-sapphire-50: #b1cdd8;
    --catppuccin-color-sapphire-600: #1e98ad;
    --catppuccin-color-sapphire-700: #1b8b9f;
    --catppuccin-color-sapphire-800: #177e90;
    --catppuccin-color-sapphire-900: #136e7e;
    --catppuccin-color-sapphire-950: #0e5b68;
    --catppuccin-color-blue: #1e66f5;
    --catppuccin-color-blue-500: #1e66f5;
    --catppuccin-color-blue-400: #587ef5;
    --catppuccin-color-blue-300: #7791f5;
    --catppuccin-color-blue-200: #8da1f5;
    --catppuccin-color-blue-100: #a0b0f5;
    --catppuccin-color-blue-50: #b1bdf5;
    --catppuccin-color-blue-600: #1c61ea;
    --catppuccin-color-blue-700: #1959d8;
    --catppuccin-color-blue-800: #1650c3;
    --catppuccin-color-blue-900: #1245ac;
    --catppuccin-color-blue-950: #0d388f;
    --catppuccin-color-lavender: #7287fd;
    --catppuccin-color-lavender-500: #7287fd;
    --catppuccin-color-lavender-400: #8696fc;
    --catppuccin-color-lavender-300: #97a4fb;
    --catppuccin-color-lavender-200: #a5b0fb;
    --catppuccin-color-lavender-100: #b2bbfa;
    --catppuccin-color-lavender-50: #bec5f9;
    --catppuccin-color-lavender-600: #6d81f2;
    --catppuccin-color-lavender-700: #6476df;
    --catppuccin-color-lavender-800: #596aca;
    --catppuccin-color-lavender-900: #4e5db1;
    --catppuccin-color-lavender-950: #3f4c94;
    --catppuccin-color-text: #4c4f69;
    --catppuccin-color-subtext1: #5c5f77;
    --catppuccin-color-subtext0: #6c6f85;
    --catppuccin-color-overlay2: #7c7f93;
    --catppuccin-color-overlay1: #8c8fa1;
    --catppuccin-color-overlay0: #9ca0b0;
    --catppuccin-color-surface2: #acb0be;
    --catppuccin-color-surface1: #bcc0cc;
    --catppuccin-color-surface0: #ccd0da;
    --catppuccin-color-base: #eff1f5;
    --catppuccin-color-mantle: #e6e9ef;
    --catppuccin-color-crust: #dce0e8;
  }
  @variant dark {
    :root {
      --catppuccin-color-rosewater: #f5e0dc;
      --catppuccin-color-rosewater-500: #f5e0dc;
      --catppuccin-color-rosewater-400: #f6e3e0;
      --catppuccin-color-rosewater-300: #f7e7e4;
      --catppuccin-color-rosewater-200: #f8eae7;
      --catppuccin-color-rosewater-100: #f9edeb;
      --catppuccin-color-rosewater-50: #faf0ee;
      --catppuccin-color-rosewater-600: #ead6d2;
      --catppuccin-color-rosewater-700: #d8c6c3;
      --catppuccin-color-rosewater-800: #c4b3b1;
      --catppuccin-color-rosewater-900: #ad9e9d;
      --catppuccin-color-rosewater-950: #918585;
      --catppuccin-color-flamingo: #f2cdcd;
      --catppuccin-color-flamingo-500: #f2cdcd;
      --catppuccin-color-flamingo-400: #f3d3d3;
      --catppuccin-color-flamingo-300: #f5d8d8;
      --catppuccin-color-flamingo-200: #f6dede;
      --catppuccin-color-flamingo-100: #f7e3e3;
      --catppuccin-color-flamingo-50: #f9e8e8;
      --catppuccin-color-flamingo-600: #e7c4c4;
      --catppuccin-color-flamingo-700: #d6b5b5;
      --catppuccin-color-flamingo-800: #c2a4a5;
      --catppuccin-color-flamingo-900: #ab9193;
      --catppuccin-color-flamingo-950: #8f797c;
      --catppuccin-color-pink: #f5c2e7;
      --catppuccin-color-pink-500: #f5c2e7;
      --catppuccin-color-pink-400: #f6c9ea;
      --catppuccin-color-pink-300: #f7d0ec;
      --catppuccin-color-pink-200: #f8d7ef;
      --catppuccin-color-pink-100: #f9ddf1;
      --catppuccin-color-pink-50: #fae3f3;
      --catppuccin-color-pink-600: #eab9dd;
      --catppuccin-color-pink-700: #d8abcc;
      --catppuccin-color-pink-800: #c49bba;
      --catppuccin-color-pink-900: #ad89a5;
      --catppuccin-color-pink-950: #91738b;
      --catppuccin-color-mauve: #cba6f7;
      --catppuccin-color-mauve-500: #cba6f7;
      --catppuccin-color-mauve-400: #d1b2f8;
      --catppuccin-color-mauve-300: #d7bcf9;
      --catppuccin-color-mauve-200: #dcc6f9;
      --catppuccin-color-mauve-100: #e2d0fa;
      --catppuccin-color-mauve-50: #e7d9fb;
      --catppuccin-color-mauve-600: #c29fec;
      --catppuccin-color-mauve-700: #b392da;
      --catppuccin-color-mauve-800: #a285c7;
      --catppuccin-color-mauve-900: #8f75b0;
      --catppuccin-color-mauve-950: #786394;
      --catppuccin-color-red: #f38ba8;
      --catppuccin-color-red-500: #f38ba8;
      --catppuccin-color-red-400: #f49cb3;
      --catppuccin-color-red-300: #f5abbe;
      --catppuccin-color-red-200: #f7b8c7;
      --catppuccin-color-red-100: #f8c4d1;
      --catppuccin-color-red-50: #f9d0d9;
      --catppuccin-color-red-600: #e885a1;
      --catppuccin-color-red-700: #d67b95;
      --catppuccin-color-red-800: #c36f88;
      --catppuccin-color-red-900: #ac6279;
      --catppuccin-color-red-950: #905367;
      --catppuccin-color-maroon: #eba0ac;
      --catppuccin-color-maroon-500: #eba0ac;
      --catppuccin-color-maroon-400: #edadb7;
      --catppuccin-color-maroon-300: #efb8c0;
      --catppuccin-color-maroon-200: #f1c3ca;
      --catppuccin-color-maroon-100: #f3cdd2;
      --catppuccin-color-maroon-50: #f5d6db;
      --catppuccin-color-maroon-600: #e099a5;
      --catppuccin-color-maroon-700: #cf8d98;
      --catppuccin-color-maroon-800: #bc808b;
      --catppuccin-color-maroon-900: #a6717c;
      --catppuccin-color-maroon-950: #8b5f6a;
      --catppuccin-color-peach: #fab387;
      --catppuccin-color-peach-500: #fab387;
      --catppuccin-color-peach-400: #fbbc99;
      --catppuccin-color-peach-300: #fbc5a8;
      --catppuccin-color-peach-200: #fcceb6;
      --catppuccin-color-peach-100: #fcd6c3;
      --catppuccin-color-peach-50: #fdddcf;
      --catppuccin-color-peach-600: #efab81;
      --catppuccin-color-peach-700: #dd9e78;
      --catppuccin-color-peach-800: #c88f6e;
      --catppuccin-color-peach-900: #b17e63;
      --catppuccin-color-peach-950: #946a55;
      --catppuccin-color-yellow: #f9e2af;
      --catppuccin-color-yellow-500: #f9e2af;
      --catppuccin-color-yellow-400: #fae5b9;
      --catppuccin-color-yellow-300: #fae8c3;
      --catppuccin-color-yellow-200: #fbebcb;
      --catppuccin-color-yellow-100: #fbeed4;
      --catppuccin-color-yellow-50: #fcf1dc;
      --catppuccin-color-yellow-600: #eed8a7;
      --catppuccin-color-yellow-700: #dcc79b;
      --catppuccin-color-yellow-800: #c7b58d;
      --catppuccin-color-yellow-900: #b0a07e;
      --catppuccin-color-yellow-950: #93866b;
      --catppuccin-color-green: #a6e3a1;
      --catppuccin-color-green-500: #a6e3a1;
      --catppuccin-color-green-400: #b2e6ae;
      --catppuccin-color-green-300: #bce9b9;
      --catppuccin-color-green-200: #c6ecc4;
      --catppuccin-color-green-100: #d0efcd;
      --catppuccin-color-green-50: #d9f2d7;
      --catppuccin-color-green-600: #9fd99a;
      --catppuccin-color-green-700: #92c88f;
      --catppuccin-color-green-800: #85b682;
      --catppuccin-color-green-900: #75a074;
      --catppuccin-color-green-950: #638663;
      --catppuccin-color-teal: #94e2d5;
      --catppuccin-color-teal-500: #94e2d5;
      --catppuccin-color-teal-400: #a3e5da;
      --catppuccin-color-teal-300: #b1e8de;
      --catppuccin-color-teal-200: #bdebe3;
      --catppuccin-color-teal-100: #c8eee7;
      --catppuccin-color-teal-50: #d3f1eb;
      --catppuccin-color-teal-600: #8dd8cc;
      --catppuccin-color-teal-700: #83c7bc;
      --catppuccin-color-teal-800: #77b5ac;
      --catppuccin-color-teal-900: #69a098;
      --catppuccin-color-teal-950: #588681;
      --catppuccin-color-sky: #89dceb;
      --catppuccin-color-sky-500: #89dceb;
      --catppuccin-color-sky-400: #9ae0ed;
      --catppuccin-color-sky-300: #aae4ef;
      --catppuccin-color-sky-200: #b7e7f1;
      --catppuccin-color-sky-100: #c4ebf3;
      --catppuccin-color-sky-50: #cfeef5;
      --catppuccin-color-sky-600: #83d2e1;
      --catppuccin-color-sky-700: #79c2d0;
      --catppuccin-color-sky-800: #6eb0bd;
      --catppuccin-color-sky-900: #619ba7;
      --catppuccin-color-sky-950: #52828d;
      --catppuccin-color-sapphire: #74c7ec;
      --catppuccin-color-sapphire-500: #74c7ec;
      --catppuccin-color-sapphire-400: #8bceee;
      --catppuccin-color-sapphire-300: #9ed4f0;
      --catppuccin-color-sapphire-200: #aedaf2;
      --catppuccin-color-sapphire-100: #bce0f4;
      --catppuccin-color-sapphire-50: #c9e5f6;
      --catppuccin-color-sapphire-600: #6fbee2;
      --catppuccin-color-sapphire-700: #66b0d1;
      --catppuccin-color-sapphire-800: #5d9fbe;
      --catppuccin-color-sapphire-900: #538ca8;
      --catppuccin-color-sapphire-950: #46768e;
      --catppuccin-color-blue: #89b4fa;
      --catppuccin-color-blue-500: #89b4fa;
      --catppuccin-color-blue-400: #9abdfb;
      --catppuccin-color-blue-300: #aac6fb;
      --catppuccin-color-blue-200: #b7cefc;
      --catppuccin-color-blue-100: #c4d6fc;
      --catppuccin-color-blue-50: #cfdefd;
      --catppuccin-color-blue-600: #83acef;
      --catppuccin-color-blue-700: #799fdd;
      --catppuccin-color-blue-800: #6e90c9;
      --catppuccin-color-blue-900: #617fb2;
      --catppuccin-color-blue-950: #526b96;
      --catppuccin-color-lavender: #b4befe;
      --catppuccin-color-lavender-500: #b4befe;
      --catppuccin-color-lavender-400: #bdc6fe;
      --catppuccin-color-lavender-300: #c6cdfe;
      --catppuccin-color-lavender-200: #ced4fe;
      --catppuccin-color-lavender-100: #d6dbfe;
      --catppuccin-color-lavender-50: #dee2ff;
      --catppuccin-color-lavender-600: #acb5f3;
      --catppuccin-color-lavender-700: #9fa8e1;
      --catppuccin-color-lavender-800: #9098cc;
      --catppuccin-color-lavender-900: #7f86b5;
      --catppuccin-color-lavender-950: #6b7099;
      --catppuccin-color-text: #cdd6f4;
      --catppuccin-color-subtext1: #bac2de;
      --catppuccin-color-subtext0: #a6adc8;
      --catppuccin-color-overlay2: #9399b2;
      --catppuccin-color-overlay1: #7f849c;
      --catppuccin-color-overlay0: #6c7086;
      --catppuccin-color-surface2: #585b70;
      --catppuccin-color-surface1: #45475a;
      --catppuccin-color-surface0: #313244;
      --catppuccin-color-base: #1e1e2e;
      --catppuccin-color-mantle: #181825;
      --catppuccin-color-crust: #11111b;
    }
  }
  .latte {
    --catppuccin-color-rosewater: #dc8a78;
    --catppuccin-color-rosewater-500: #dc8a78;
    --catppuccin-color-rosewater-400: #de998c;
    --catppuccin-color-rosewater-300: #e0a69c;
    --catppuccin-color-rosewater-200: #e2b1ab;
    --catppuccin-color-rosewater-100: #e4bcb8;
    --catppuccin-color-rosewater-50: #e6c6c4;
    --catppuccin-color-rosewater-600: #d28372;
    --catppuccin-color-rosewater-700: #c27969;
    --catppuccin-color-rosewater-800: #af6d5e;
    --catppuccin-color-rosewater-900: #9a5f52;
    --catppuccin-color-rosewater-950: #804e43;
    --catppuccin-color-flamingo: #dd7878;
    --catppuccin-color-flamingo-500: #dd7878;
    --catppuccin-color-flamingo-400: #df8b8c;
    --catppuccin-color-flamingo-300: #e19b9c;
    --catppuccin-color-flamingo-200: #e3a9ab;
    --catppuccin-color-flamingo-100: #e4b5b8;
    --catppuccin-color-flamingo-50: #e6c1c4;
    --catppuccin-color-flamingo-600: #d37272;
    --catppuccin-color-flamingo-700: #c26969;
    --catppuccin-color-flamingo-800: #b05e5e;
    --catppuccin-color-flamingo-900: #9a5252;
    --catppuccin-color-flamingo-950: #804343;
    --catppuccin-color-pink: #ea76cb;
    --catppuccin-color-pink-500: #ea76cb;
    --catppuccin-color-pink-400: #eb89d0;
    --catppuccin-color-pink-300: #eb9ad4;
    --catppuccin-color-pink-200: #eca8d9;
    --catppuccin-color-pink-100: #ecb5dd;
    --catppuccin-color-pink-50: #edc1e1;
    --catppuccin-color-pink-600: #df70c2;
    --catppuccin-color-pink-700: #ce67b2;
    --catppuccin-color-pink-800: #ba5da1;
    --catppuccin-color-pink-900: #a4518e;
    --catppuccin-color-pink-950: #884275;
    --catppuccin-color-mauve: #8839ef;
    --catppuccin-color-mauve-500: #8839ef;
    --catppuccin-color-mauve-400: #9763f0;
    --catppuccin-color-mauve-300: #a47ef0;
    --catppuccin-color-mauve-200: #af93f1;
    --catppuccin-color-mauve-100: #baa5f1;
    --catppuccin-color-mauve-50: #c4b5f2;
    --catppuccin-color-mauve-600: #8236e4;
    --catppuccin-color-mauve-700: #7731d2;
    --catppuccin-color-mauve-800: #6b2bbe;
    --catppuccin-color-mauve-900: #5e25a7;
    --catppuccin-color-mauve-950: #4d1d8b;
    --catppuccin-color-red: #d20f39;
    --catppuccin-color-red-500: #d20f39;
    --catppuccin-color-red-400: #d55664;
    --catppuccin-color-red-300: #d87680;
    --catppuccin-color-red-200: #db8d95;
    --catppuccin-color-red-100: #dea1a8;
    --catppuccin-color-red-50: #e1b1b8;
    --catppuccin-color-red-600: #c80e36;
    --catppuccin-color-red-700: #b90c31;
    --catppuccin-color-red-800: #a7092b;
    --catppuccin-color-red-900: #930725;
    --catppuccin-color-red-950: #7a051d;
    --catppuccin-color-maroon: #e64553;
    --catppuccin-color-maroon-500: #e64553;
    --catppuccin-color-maroon-400: #e76972;
    --catppuccin-color-maroon-300: #e88289;
    --catppuccin-color-maroon-200: #e9969c;
    --catppuccin-color-maroon-100: #eaa7ad;
    --catppuccin-color-maroon-50: #ebb6bb;
    --catppuccin-color-maroon-600: #dc414f;
    --catppuccin-color-maroon-700: #ca3c48;
    --catppuccin-color-maroon-800: #b73540;
    --catppuccin-color-maroon-900: #a12e38;
    --catppuccin-color-maroon-950: #86242d;
    --catppuccin-color-peach: #fe640b;
    --catppuccin-color-peach-500: #fe640b;
    --catppuccin-color-peach-400: #fd7c57;
    --catppuccin-color-peach-300: #fb9077;
    --catppuccin-color-peach-200: #faa08f;
    --catppuccin-color-peach-100: #f8afa3;
    --catppuccin-color-peach-50: #f7bcb4;
    --catppuccin-color-peach-600: #f25f0a;
    --catppuccin-color-peach-700: #e05708;
    --catppuccin-color-peach-800: #cb4e07;
    --catppuccin-color-peach-900: #b24405;
    --catppuccin-color-peach-950: #943703;
    --catppuccin-color-yellow: #df8e1d;
    --catppuccin-color-yellow-500: #df8e1d;
    --catppuccin-color-yellow-400: #e19c5a;
    --catppuccin-color-yellow-300: #e2a879;
    --catppuccin-color-yellow-200: #e4b391;
    --catppuccin-color-yellow-100: #e6bea4;
    --catppuccin-color-yellow-50: #e7c8b5;
    --catppuccin-color-yellow-600: #d5871b;
    --catppuccin-color-yellow-700: #c47c18;
    --catppuccin-color-yellow-800: #b27015;
    --catppuccin-color-yellow-900: #9c6211;
    --catppuccin-color-yellow-950: #82500c;
    --catppuccin-color-green: #40a02b;
    --catppuccin-color-green-500: #40a02b;
    --catppuccin-color-green-400: #66aa5e;
    --catppuccin-color-green-300: #7fb47c;
    --catppuccin-color-green-200: #94bd93;
    --catppuccin-color-green-100: #a5c6a6;
    --catppuccin-color-green-50: #b4ceb6;
    --catppuccin-color-green-600: #3d9929;
    --catppuccin-color-green-700: #378c25;
    --catppuccin-color-green-800: #317f20;
    --catppuccin-color-green-900: #2a6f1b;
    --catppuccin-color-green-950: #215b15;
    --catppuccin-color-teal: #179299;
    --catppuccin-color-teal-500: #179299;
    --catppuccin-color-teal-400: #569fa5;
    --catppuccin-color-teal-300: #75abb1;
    --catppuccin-color-teal-200: #8db6bb;
    --catppuccin-color-teal-100: #a0c0c5;
    --catppuccin-color-teal-50: #b0c9ce;
    --catppuccin-color-teal-600: #158b92;
    --catppuccin-color-teal-700: #138086;
    --catppuccin-color-teal-800: #107379;
    --catppuccin-color-teal-900: #0d656a;
    --catppuccin-color-teal-950: #085357;
    --catppuccin-color-sky: #04a5e5;
    --catppuccin-color-sky-500: #04a5e5;
    --catppuccin-color-sky-400: #53afe7;
    --catppuccin-color-sky-300: #74b8e8;
    --catppuccin-color-sky-200: #8bc0ea;
    --catppuccin-color-sky-100: #9fc8ec;
    --catppuccin-color-sky-50: #b0d0ed;
    --catppuccin-color-sky-600: #049ddb;
    --catppuccin-color-sky-700: #0391ca;
    --catppuccin-color-sky-800: #0283b6;
    --catppuccin-color-sky-900: #0272a0;
    --catppuccin-color-sky-950: #015e85;
    --catppuccin-color-sapphire: #209fb5;
    --catppuccin-color-sapphire-500: #209fb5;
    --catppuccin-color-sapphire-400: #59aabd;
    --catppuccin-color-sapphire-300: #77b3c4;
    --catppuccin-color-sapphire-200: #8ebdcb;
    --catppuccin-color-sapphire-100: #a0c5d2;
    --catppuccin-color-sapphire-50: #b1cdd8;
    --catppuccin-color-sapphire-600: #1e98ad;
    --catppuccin-color-sapphire-700: #1b8b9f;
    --catppuccin-color-sapphire-800: #177e90;
    --catppuccin-color-sapphire-900: #136e7e;
    --catppuccin-color-sapphire-950: #0e5b68;
    --catppuccin-color-blue: #1e66f5;
    --catppuccin-color-blue-500: #1e66f5;
    --catppuccin-color-blue-400: #587ef5;
    --catppuccin-color-blue-300: #7791f5;
    --catppuccin-color-blue-200: #8da1f5;
    --catppuccin-color-blue-100: #a0b0f5;
    --catppuccin-color-blue-50: #b1bdf5;
    --catppuccin-color-blue-600: #1c61ea;
    --catppuccin-color-blue-700: #1959d8;
    --catppuccin-color-blue-800: #1650c3;
    --catppuccin-color-blue-900: #1245ac;
    --catppuccin-color-blue-950: #0d388f;
    --catppuccin-color-lavender: #7287fd;
    --catppuccin-color-lavender-500: #7287fd;
    --catppuccin-color-lavender-400: #8696fc;
    --catppuccin-color-lavender-300: #97a4fb;
    --catppuccin-color-lavender-200: #a5b0fb;
    --catppuccin-color-lavender-100: #b2bbfa;
    --catppuccin-color-lavender-50: #bec5f9;
    --catppuccin-color-lavender-600: #6d81f2;
    --catppuccin-color-lavender-700: #6476df;
    --catppuccin-color-lavender-800: #596aca;
    --catppuccin-color-lavender-900: #4e5db1;
    --catppuccin-color-lavender-950: #3f4c94;
    --catppuccin-color-text: #4c4f69;
    --catppuccin-color-subtext1: #5c5f77;
    --catppuccin-color-subtext0: #6c6f85;
    --catppuccin-color-overlay2: #7c7f93;
    --catppuccin-color-overlay1: #8c8fa1;
    --catppuccin-color-overlay0: #9ca0b0;
    --catppuccin-color-surface2: #acb0be;
    --catppuccin-color-surface1: #bcc0cc;
    --catppuccin-color-surface0: #ccd0da;
    --catppuccin-color-base: #eff1f5;
    --catppuccin-color-mantle: #e6e9ef;
    --catppuccin-color-crust: #dce0e8;
  }
  .frappe {
    --catppuccin-color-rosewater: #f2d5cf;
    --catppuccin-color-rosewater-500: #f2d5cf;
    --catppuccin-color-rosewater-400: #f3dad4;
    --catppuccin-color-rosewater-300: #f5deda;
    --catppuccin-color-rosewater-200: #f6e3df;
    --catppuccin-color-rosewater-100: #f7e7e4;
    --catppuccin-color-rosewater-50: #f9ebe9;
    --catppuccin-color-rosewater-600: #e7ccc6;
    --catppuccin-color-rosewater-700: #d6bdb9;
    --catppuccin-color-rosewater-800: #c3aca9;
    --catppuccin-color-rosewater-900: #ad9998;
    --catppuccin-color-rosewater-950: #928284;
    --catppuccin-color-flamingo: #eebebe;
    --catppuccin-color-flamingo-500: #eebebe;
    --catppuccin-color-flamingo-400: #f0c6c6;
    --catppuccin-color-flamingo-300: #f2cdcd;
    --catppuccin-color-flamingo-200: #f3d4d4;
    --catppuccin-color-flamingo-100: #f5dbdb;
    --catppuccin-color-flamingo-50: #f7e2e2;
    --catppuccin-color-flamingo-600: #e4b6b6;
    --catppuccin-color-flamingo-700: #d3a9aa;
    --catppuccin-color-flamingo-800: #c09a9c;
    --catppuccin-color-flamingo-900: #aa898d;
    --catppuccin-color-flamingo-950: #90757b;
    --catppuccin-color-pink: #f4b8e4;
    --catppuccin-color-pink-500: #f4b8e4;
    --catppuccin-color-pink-400: #f5c1e7;
    --catppuccin-color-pink-300: #f6c9ea;
    --catppuccin-color-pink-200: #f7d1ed;
    --catppuccin-color-pink-100: #f8d8ef;
    --catppuccin-color-pink-50: #fadff2;
    --catppuccin-color-pink-600: #e9b0da;
    --catppuccin-color-pink-700: #d8a3cb;
    --catppuccin-color-pink-800: #c495ba;
    --catppuccin-color-pink-900: #ae85a6;
    --catppuccin-color-pink-950: #93728f;
    --catppuccin-color-mauve: #ca9ee6;
    --catppuccin-color-mauve-500: #ca9ee6;
    --catppuccin-color-mauve-400: #d0abe9;
    --catppuccin-color-mauve-300: #d6b7eb;
    --catppuccin-color-mauve-200: #dcc2ee;
    --catppuccin-color-mauve-100: #e1ccf0;
    --catppuccin-color-mauve-50: #e7d6f3;
    --catppuccin-color-mauve-600: #c197dc;
    --catppuccin-color-mauve-700: #b38dcd;
    --catppuccin-color-mauve-800: #a381bb;
    --catppuccin-color-mauve-900: #9173a8;
    --catppuccin-color-mauve-950: #7b6490;
    --catppuccin-color-red: #e78284;
    --catppuccin-color-red-500: #e78284;
    --catppuccin-color-red-400: #ea9597;
    --catppuccin-color-red-300: #eca5a7;
    --catppuccin-color-red-200: #efb4b5;
    --catppuccin-color-red-100: #f1c1c2;
    --catppuccin-color-red-50: #f3cdce;
    --catppuccin-color-red-600: #dd7d7f;
    --catppuccin-color-red-700: #cc7478;
    --catppuccin-color-red-800: #ba6b70;
    --catppuccin-color-red-900: #a56168;
    --catppuccin-color-red-950: #8c555e;
    --catppuccin-color-maroon: #ea999c;
    --catppuccin-color-maroon-500: #ea999c;
    --catppuccin-color-maroon-400: #eca7a9;
    --catppuccin-color-maroon-300: #eeb4b6;
    --catppuccin-color-maroon-200: #f1bfc1;
    --catppuccin-color-maroon-100: #f3cacb;
    --catppuccin-color-maroon-50: #f5d4d5;
    --catppuccin-color-maroon-600: #e09396;
    --catppuccin-color-maroon-700: #cf888d;
    --catppuccin-color-maroon-800: #bc7d82;
    --catppuccin-color-maroon-900: #a77077;
    --catppuccin-color-maroon-950: #8d6169;
    --catppuccin-color-peach: #ef9f76;
    --catppuccin-color-peach-500: #ef9f76;
    --catppuccin-color-peach-400: #f1ac8c;
    --catppuccin-color-peach-300: #f2b89f;
    --catppuccin-color-peach-200: #f4c3af;
    --catppuccin-color-peach-100: #f6cdbd;
    --catppuccin-color-peach-50: #f7d6ca;
    --catppuccin-color-peach-600: #e59872;
    --catppuccin-color-peach-700: #d38e6c;
    --catppuccin-color-peach-800: #c08266;
    --catppuccin-color-peach-900: #ab745f;
    --catppuccin-color-peach-950: #906458;
    --catppuccin-color-yellow: #e5c890;
    --catppuccin-color-yellow-500: #e5c890;
    --catppuccin-color-yellow-400: #e8cea0;
    --catppuccin-color-yellow-300: #ebd5ae;
    --catppuccin-color-yellow-200: #eddabb;
    --catppuccin-color-yellow-100: #f0e0c6;
    --catppuccin-color-yellow-50: #f2e6d1;
    --catppuccin-color-yellow-600: #dbbf8b;
    --catppuccin-color-yellow-700: #cbb182;
    --catppuccin-color-yellow-800: #b8a279;
    --catppuccin-color-yellow-900: #a4906f;
    --catppuccin-color-yellow-950: #8a7b64;
    --catppuccin-color-green: #a6d189;
    --catppuccin-color-green-500: #a6d189;
    --catppuccin-color-green-400: #b2d69a;
    --catppuccin-color-green-300: #bcdbaa;
    --catppuccin-color-green-200: #c6e0b7;
    --catppuccin-color-green-100: #d0e5c4;
    --catppuccin-color-green-50: #d9e9cf;
    --catppuccin-color-green-600: #9fc884;
    --catppuccin-color-green-700: #93b97c;
    --catppuccin-color-green-800: #87a974;
    --catppuccin-color-green-900: #78966b;
    --catppuccin-color-green-950: #678060;
    --catppuccin-color-teal: #81c8be;
    --catppuccin-color-teal-500: #81c8be;
    --catppuccin-color-teal-400: #94cec6;
    --catppuccin-color-teal-300: #a5d5cd;
    --catppuccin-color-teal-200: #b4dad4;
    --catppuccin-color-teal-100: #c1e0db;
    --catppuccin-color-teal-50: #cde6e2;
    --catppuccin-color-teal-600: #7cbfb6;
    --catppuccin-color-teal-700: #73b1aa;
    --catppuccin-color-teal-800: #6aa29c;
    --catppuccin-color-teal-900: #5f908d;
    --catppuccin-color-teal-950: #537b7b;
    --catppuccin-color-sky: #99d1db;
    --catppuccin-color-sky-500: #99d1db;
    --catppuccin-color-sky-400: #a7d6df;
    --catppuccin-color-sky-300: #b4dbe3;
    --catppuccin-color-sky-200: #bfe0e7;
    --catppuccin-color-sky-100: #cae5ea;
    --catppuccin-color-sky-50: #d4e9ee;
    --catppuccin-color-sky-600: #93c8d2;
    --catppuccin-color-sky-700: #88b9c3;
    --catppuccin-color-sky-800: #7ca9b3;
    --catppuccin-color-sky-900: #6f96a0;
    --catppuccin-color-sky-950: #60808a;
    --catppuccin-color-sapphire: #85c1dc;
    --catppuccin-color-sapphire-500: #85c1dc;
    --catppuccin-color-sapphire-400: #97c8e0;
    --catppuccin-color-sapphire-300: #a7cfe4;
    --catppuccin-color-sapphire-200: #b5d6e7;
    --catppuccin-color-sapphire-100: #c2ddeb;
    --catppuccin-color-sapphire-50: #cee3ee;
    --catppuccin-color-sapphire-600: #80b9d3;
    --catppuccin-color-sapphire-700: #77abc4;
    --catppuccin-color-sapphire-800: #6d9cb4;
    --catppuccin-color-sapphire-900: #628ba1;
    --catppuccin-color-sapphire-950: #55778b;
    --catppuccin-color-blue: #8caaee;
    --catppuccin-color-blue-500: #8caaee;
    --catppuccin-color-blue-400: #9db5f0;
    --catppuccin-color-blue-300: #abbff2;
    --catppuccin-color-blue-200: #b9c9f3;
    --catppuccin-color-blue-100: #c5d2f5;
    --catppuccin-color-blue-50: #d0daf7;
    --catppuccin-color-blue-600: #86a3e4;
    --catppuccin-color-blue-700: #7d97d4;
    --catppuccin-color-blue-800: #728ac2;
    --catppuccin-color-blue-900: #677bad;
    --catppuccin-color-blue-950: #596a95;
    --catppuccin-color-lavender: #babbf1;
    --catppuccin-color-lavender-500: #babbf1;
    --catppuccin-color-lavender-400: #c2c3f2;
    --catppuccin-color-lavender-300: #cacbf4;
    --catppuccin-color-lavender-200: #d2d2f5;
    --catppuccin-color-lavender-100: #d9daf7;
    --catppuccin-color-lavender-50: #e0e0f8;
    --catppuccin-color-lavender-600: #b2b3e7;
    --catppuccin-color-lavender-700: #a5a6d6;
    --catppuccin-color-lavender-800: #9698c4;
    --catppuccin-color-lavender-900: #8687af;
    --catppuccin-color-lavender-950: #727496;
    --catppuccin-color-text: #c6d0f5;
    --catppuccin-color-subtext1: #b5bfe2;
    --catppuccin-color-subtext0: #a5adce;
    --catppuccin-color-overlay2: #949cbb;
    --catppuccin-color-overlay1: #838ba7;
    --catppuccin-color-overlay0: #737994;
    --catppuccin-color-surface2: #626880;
    --catppuccin-color-surface1: #51576d;
    --catppuccin-color-surface0: #414559;
    --catppuccin-color-base: #303446;
    --catppuccin-color-mantle: #292c3c;
    --catppuccin-color-crust: #232634;
  }
  .macchiato {
    --catppuccin-color-rosewater: #f4dbd6;
    --catppuccin-color-rosewater-500: #f4dbd6;
    --catppuccin-color-rosewater-400: #f5dfdb;
    --catppuccin-color-rosewater-300: #f6e3df;
    --catppuccin-color-rosewater-200: #f7e7e3;
    --catppuccin-color-rosewater-100: #f8eae8;
    --catppuccin-color-rosewater-50: #faeeec;
    --catppuccin-color-rosewater-600: #e9d1cd;
    --catppuccin-color-rosewater-700: #d7c1be;
    --catppuccin-color-rosewater-800: #c4b0ad;
    --catppuccin-color-rosewater-900: #ad9b9b;
    --catppuccin-color-rosewater-950: #918384;
    --catppuccin-color-flamingo: #f0c6c6;
    --catppuccin-color-flamingo-500: #f0c6c6;
    --catppuccin-color-flamingo-400: #f2cdcd;
    --catppuccin-color-flamingo-300: #f3d3d3;
    --catppuccin-color-flamingo-200: #f5d9d9;
    --catppuccin-color-flamingo-100: #f6dfdf;
    --catppuccin-color-flamingo-50: #f8e5e5;
    --catppuccin-color-flamingo-600: #e5bdbe;
    --catppuccin-color-flamingo-700: #d4afb0;
    --catppuccin-color-flamingo-800: #c09fa1;
    --catppuccin-color-flamingo-900: #aa8d90;
    --catppuccin-color-flamingo-950: #8f777b;
    --catppuccin-color-pink: #f5bde6;
    --catppuccin-color-pink-500: #f5bde6;
    --catppuccin-color-pink-400: #f6c5e9;
    --catppuccin-color-pink-300: #f7cceb;
    --catppuccin-color-pink-200: #f8d4ee;
    --catppuccin-color-pink-100: #f9dbf0;
    --catppuccin-color-pink-50: #fae1f3;
    --catppuccin-color-pink-600: #eab5dc;
    --catppuccin-color-pink-700: #d8a7cc;
    --catppuccin-color-pink-800: #c498ba;
    --catppuccin-color-pink-900: #ae86a6;
    --catppuccin-color-pink-950: #92728d;
    --catppuccin-color-mauve: #c6a0f6;
    --catppuccin-color-mauve-500: #c6a0f6;
    --catppuccin-color-mauve-400: #cdadf7;
    --catppuccin-color-mauve-300: #d3b8f8;
    --catppuccin-color-mauve-200: #d9c3f9;
    --catppuccin-color-mauve-100: #dfcdfa;
    --catppuccin-color-mauve-50: #e5d6fb;
    --catppuccin-color-mauve-600: #bd99eb;
    --catppuccin-color-mauve-700: #af8eda;
    --catppuccin-color-mauve-800: #9f81c7;
    --catppuccin-color-mauve-900: #8c72b1;
    --catppuccin-color-mauve-950: #766196;
    --catppuccin-color-red: #ed8796;
    --catppuccin-color-red-500: #ed8796;
    --catppuccin-color-red-400: #ef99a5;
    --catppuccin-color-red-300: #f1a8b2;
    --catppuccin-color-red-200: #f3b6be;
    --catppuccin-color-red-100: #f4c3c9;
    --catppuccin-color-red-50: #f6cfd3;
    --catppuccin-color-red-600: #e28190;
    --catppuccin-color-red-700: #d17886;
    --catppuccin-color-red-800: #be6d7c;
    --catppuccin-color-red-900: #a86170;
    --catppuccin-color-red-950: #8d5362;
    --catppuccin-color-maroon: #ee99a0;
    --catppuccin-color-maroon-500: #ee99a0;
    --catppuccin-color-maroon-400: #f0a7ad;
    --catppuccin-color-maroon-300: #f2b4b8;
    --catppuccin-color-maroon-200: #f3bfc3;
    --catppuccin-color-maroon-100: #f5cacd;
    --catppuccin-color-maroon-50: #f7d4d6;
    --catppuccin-color-maroon-600: #e39299;
    --catppuccin-color-maroon-700: #d2878f;
    --catppuccin-color-maroon-800: #bf7b83;
    --catppuccin-color-maroon-900: #a96e76;
    --catppuccin-color-maroon-950: #8e5d67;
    --catppuccin-color-peach: #f5a97f;
    --catppuccin-color-peach-500: #f5a97f;
    --catppuccin-color-peach-400: #f6b493;
    --catppuccin-color-peach-300: #f7bea4;
    --catppuccin-color-peach-200: #f8c8b3;
    --catppuccin-color-peach-100: #f9d1c0;
    --catppuccin-color-peach-50: #fadacc;
    --catppuccin-color-peach-600: #eaa27a;
    --catppuccin-color-peach-700: #d89572;
    --catppuccin-color-peach-800: #c4886a;
    --catppuccin-color-peach-900: #ae7961;
    --catppuccin-color-peach-950: #926656;
    --catppuccin-color-yellow: #eed49f;
    --catppuccin-color-yellow-500: #eed49f;
    --catppuccin-color-yellow-400: #f0d9ac;
    --catppuccin-color-yellow-300: #f2ddb8;
    --catppuccin-color-yellow-200: #f3e2c3;
    --catppuccin-color-yellow-100: #f5e6cd;
    --catppuccin-color-yellow-50: #f7ebd6;
    --catppuccin-color-yellow-600: #e3cb99;
    --catppuccin-color-yellow-700: #d2bb8e;
    --catppuccin-color-yellow-800: #bfaa82;
    --catppuccin-color-yellow-900: #a99775;
    --catppuccin-color-yellow-950: #8e7f66;
    --catppuccin-color-green: #a6da95;
    --catppuccin-color-green-500: #a6da95;
    --catppuccin-color-green-400: #b2dea4;
    --catppuccin-color-green-300: #bce2b1;
    --catppuccin-color-green-200: #c6e6bd;
    --catppuccin-color-green-100: #d0eac8;
    --catppuccin-color-green-50: #d9edd3;
    --catppuccin-color-green-600: #9fd08f;
    --catppuccin-color-green-700: #93c185;
    --catppuccin-color-green-800: #85af7b;
    --catppuccin-color-green-900: #769b6f;
    --catppuccin-color-green-950: #648261;
    --catppuccin-color-teal: #8bd5ca;
    --catppuccin-color-teal-500: #8bd5ca;
    --catppuccin-color-teal-400: #9cdad0;
    --catppuccin-color-teal-300: #abded6;
    --catppuccin-color-teal-200: #b8e3dc;
    --catppuccin-color-teal-100: #c4e7e1;
    --catppuccin-color-teal-50: #d0ebe7;
    --catppuccin-color-teal-600: #85ccc1;
    --catppuccin-color-teal-700: #7bbcb3;
    --catppuccin-color-teal-800: #70aba4;
    --catppuccin-color-teal-900: #639792;
    --catppuccin-color-teal-950: #557f7d;
    --catppuccin-color-sky: #91d7e3;
    --catppuccin-color-sky-500: #91d7e3;
    --catppuccin-color-sky-400: #a1dbe6;
    --catppuccin-color-sky-300: #afe0e9;
    --catppuccin-color-sky-200: #bbe4ec;
    --catppuccin-color-sky-100: #c7e8ef;
    --catppuccin-color-sky-50: #d2ecf2;
    --catppuccin-color-sky-600: #8bcdd9;
    --catppuccin-color-sky-700: #80bec9;
    --catppuccin-color-sky-800: #75adb8;
    --catppuccin-color-sky-900: #6899a4;
    --catppuccin-color-sky-950: #58818b;
    --catppuccin-color-sapphire: #7dc4e4;
    --catppuccin-color-sapphire-500: #7dc4e4;
    --catppuccin-color-sapphire-400: #91cbe7;
    --catppuccin-color-sapphire-300: #a3d2ea;
    --catppuccin-color-sapphire-200: #b2d8ed;
    --catppuccin-color-sapphire-100: #bfdeef;
    --catppuccin-color-sapphire-50: #cce4f2;
    --catppuccin-color-sapphire-600: #78bbda;
    --catppuccin-color-sapphire-700: #6fadca;
    --catppuccin-color-sapphire-800: #659db9;
    --catppuccin-color-sapphire-900: #5a8ba4;
    --catppuccin-color-sapphire-950: #4d768c;
    --catppuccin-color-blue: #8aadf4;
    --catppuccin-color-blue-500: #8aadf4;
    --catppuccin-color-blue-400: #9bb7f5;
    --catppuccin-color-blue-300: #aac1f6;
    --catppuccin-color-blue-200: #b8caf7;
    --catppuccin-color-blue-100: #c4d3f8;
    --catppuccin-color-blue-50: #cfdbfa;
    --catppuccin-color-blue-600: #84a5e9;
    --catppuccin-color-blue-700: #7a99d8;
    --catppuccin-color-blue-800: #6f8bc5;
    --catppuccin-color-blue-900: #637baf;
    --catppuccin-color-blue-950: #546895;
    --catppuccin-color-lavender: #b7bdf8;
    --catppuccin-color-lavender-500: #b7bdf8;
    --catppuccin-color-lavender-400: #c0c5f9;
    --catppuccin-color-lavender-300: #c8ccf9;
    --catppuccin-color-lavender-200: #d0d4fa;
    --catppuccin-color-lavender-100: #d8dbfb;
    --catppuccin-color-lavender-50: #dfe1fc;
    --catppuccin-color-lavender-600: #afb5ed;
    --catppuccin-color-lavender-700: #a2a7dc;
    --catppuccin-color-lavender-800: #9398c8;
    --catppuccin-color-lavender-900: #8286b2;
    --catppuccin-color-lavender-950: #6d7297;
    --catppuccin-color-text: #cad3f5;
    --catppuccin-color-subtext1: #b8c0e0;
    --catppuccin-color-subtext0: #a5adcb;
    --catppuccin-color-overlay2: #939ab7;
    --catppuccin-color-overlay1: #8087a2;
    --catppuccin-color-overlay0: #6e738d;
    --catppuccin-color-surface2: #5b6078;
    --catppuccin-color-surface1: #494d64;
    --catppuccin-color-surface0: #363a4f;
    --catppuccin-color-base: #24273a;
    --catppuccin-color-mantle: #1e2030;
    --catppuccin-color-crust: #181926;
  }
  .mocha {
    --catppuccin-color-rosewater: #f5e0dc;
    --catppuccin-color-rosewater-500: #f5e0dc;
    --catppuccin-color-rosewater-400: #f6e3e0;
    --catppuccin-color-rosewater-300: #f7e7e4;
    --catppuccin-color-rosewater-200: #f8eae7;
    --catppuccin-color-rosewater-100: #f9edeb;
    --catppuccin-color-rosewater-50: #faf0ee;
    --catppuccin-color-rosewater-600: #ead6d2;
    --catppuccin-color-rosewater-700: #d8c6c3;
    --catppuccin-color-rosewater-800: #c4b3b1;
    --catppuccin-color-rosewater-900: #ad9e9d;
    --catppuccin-color-rosewater-950: #918585;
    --catppuccin-color-flamingo: #f2cdcd;
    --catppuccin-color-flamingo-500: #f2cdcd;
    --catppuccin-color-flamingo-400: #f3d3d3;
    --catppuccin-color-flamingo-300: #f5d8d8;
    --catppuccin-color-flamingo-200: #f6dede;
    --catppuccin-color-flamingo-100: #f7e3e3;
    --catppuccin-color-flamingo-50: #f9e8e8;
    --catppuccin-color-flamingo-600: #e7c4c4;
    --catppuccin-color-flamingo-700: #d6b5b5;
    --catppuccin-color-flamingo-800: #c2a4a5;
    --catppuccin-color-flamingo-900: #ab9193;
    --catppuccin-color-flamingo-950: #8f797c;
    --catppuccin-color-pink: #f5c2e7;
    --catppuccin-color-pink-500: #f5c2e7;
    --catppuccin-color-pink-400: #f6c9ea;
    --catppuccin-color-pink-300: #f7d0ec;
    --catppuccin-color-pink-200: #f8d7ef;
    --catppuccin-color-pink-100: #f9ddf1;
    --catppuccin-color-pink-50: #fae3f3;
    --catppuccin-color-pink-600: #eab9dd;
    --catppuccin-color-pink-700: #d8abcc;
    --catppuccin-color-pink-800: #c49bba;
    --catppuccin-color-pink-900: #ad89a5;
    --catppuccin-color-pink-950: #91738b;
    --catppuccin-color-mauve: #cba6f7;
    --catppuccin-color-mauve-500: #cba6f7;
    --catppuccin-color-mauve-400: #d1b2f8;
    --catppuccin-color-mauve-300: #d7bcf9;
    --catppuccin-color-mauve-200: #dcc6f9;
    --catppuccin-color-mauve-100: #e2d0fa;
    --catppuccin-color-mauve-50: #e7d9fb;
    --catppuccin-color-mauve-600: #c29fec;
    --catppuccin-color-mauve-700: #b392da;
    --catppuccin-color-mauve-800: #a285c7;
    --catppuccin-color-mauve-900: #8f75b0;
    --catppuccin-color-mauve-950: #786394;
    --catppuccin-color-red: #f38ba8;
    --catppuccin-color-red-500: #f38ba8;
    --catppuccin-color-red-400: #f49cb3;
    --catppuccin-color-red-300: #f5abbe;
    --catppuccin-color-red-200: #f7b8c7;
    --catppuccin-color-red-100: #f8c4d1;
    --catppuccin-color-red-50: #f9d0d9;
    --catppuccin-color-red-600: #e885a1;
    --catppuccin-color-red-700: #d67b95;
    --catppuccin-color-red-800: #c36f88;
    --catppuccin-color-red-900: #ac6279;
    --catppuccin-color-red-950: #905367;
    --catppuccin-color-maroon: #eba0ac;
    --catppuccin-color-maroon-500: #eba0ac;
    --catppuccin-color-maroon-400: #edadb7;
    --catppuccin-color-maroon-300: #efb8c0;
    --catppuccin-color-maroon-200: #f1c3ca;
    --catppuccin-color-maroon-100: #f3cdd2;
    --catppuccin-color-maroon-50: #f5d6db;
    --catppuccin-color-maroon-600: #e099a5;
    --catppuccin-color-maroon-700: #cf8d98;
    --catppuccin-color-maroon-800: #bc808b;
    --catppuccin-color-maroon-900: #a6717c;
    --catppuccin-color-maroon-950: #8b5f6a;
    --catppuccin-color-peach: #fab387;
    --catppuccin-color-peach-500: #fab387;
    --catppuccin-color-peach-400: #fbbc99;
    --catppuccin-color-peach-300: #fbc5a8;
    --catppuccin-color-peach-200: #fcceb6;
    --catppuccin-color-peach-100: #fcd6c3;
    --catppuccin-color-peach-50: #fdddcf;
    --catppuccin-color-peach-600: #efab81;
    --catppuccin-color-peach-700: #dd9e78;
    --catppuccin-color-peach-800: #c88f6e;
    --catppuccin-color-peach-900: #b17e63;
    --catppuccin-color-peach-950: #946a55;
    --catppuccin-color-yellow: #f9e2af;
    --catppuccin-color-yellow-500: #f9e2af;
    --catppuccin-color-yellow-400: #fae5b9;
    --catppuccin-color-yellow-300: #fae8c3;
    --catppuccin-color-yellow-200: #fbebcb;
    --catppuccin-color-yellow-100: #fbeed4;
    --catppuccin-color-yellow-50: #fcf1dc;
    --catppuccin-color-yellow-600: #eed8a7;
    --catppuccin-color-yellow-700: #dcc79b;
    --catppuccin-color-yellow-800: #c7b58d;
    --catppuccin-color-yellow-900: #b0a07e;
    --catppuccin-color-yellow-950: #93866b;
    --catppuccin-color-green: #a6e3a1;
    --catppuccin-color-green-500: #a6e3a1;
    --catppuccin-color-green-400: #b2e6ae;
    --catppuccin-color-green-300: #bce9b9;
    --catppuccin-color-green-200: #c6ecc4;
    --catppuccin-color-green-100: #d0efcd;
    --catppuccin-color-green-50: #d9f2d7;
    --catppuccin-color-green-600: #9fd99a;
    --catppuccin-color-green-700: #92c88f;
    --catppuccin-color-green-800: #85b682;
    --catppuccin-color-green-900: #75a074;
    --catppuccin-color-green-950: #638663;
    --catppuccin-color-teal: #94e2d5;
    --catppuccin-color-teal-500: #94e2d5;
    --catppuccin-color-teal-400: #a3e5da;
    --catppuccin-color-teal-300: #b1e8de;
    --catppuccin-color-teal-200: #bdebe3;
    --catppuccin-color-teal-100: #c8eee7;
    --catppuccin-color-teal-50: #d3f1eb;
    --catppuccin-color-teal-600: #8dd8cc;
    --catppuccin-color-teal-700: #83c7bc;
    --catppuccin-color-teal-800: #77b5ac;
    --catppuccin-color-teal-900: #69a098;
    --catppuccin-color-teal-950: #588681;
    --catppuccin-color-sky: #89dceb;
    --catppuccin-color-sky-500: #89dceb;
    --catppuccin-color-sky-400: #9ae0ed;
    --catppuccin-color-sky-300: #aae4ef;
    --catppuccin-color-sky-200: #b7e7f1;
    --catppuccin-color-sky-100: #c4ebf3;
    --catppuccin-color-sky-50: #cfeef5;
    --catppuccin-color-sky-600: #83d2e1;
    --catppuccin-color-sky-700: #79c2d0;
    --catppuccin-color-sky-800: #6eb0bd;
    --catppuccin-color-sky-900: #619ba7;
    --catppuccin-color-sky-950: #52828d;
    --catppuccin-color-sapphire: #74c7ec;
    --catppuccin-color-sapphire-500: #74c7ec;
    --catppuccin-color-sapphire-400: #8bceee;
    --catppuccin-color-sapphire-300: #9ed4f0;
    --catppuccin-color-sapphire-200: #aedaf2;
    --catppuccin-color-sapphire-100: #bce0f4;
    --catppuccin-color-sapphire-50: #c9e5f6;
    --catppuccin-color-sapphire-600: #6fbee2;
    --catppuccin-color-sapphire-700: #66b0d1;
    --catppuccin-color-sapphire-800: #5d9fbe;
    --catppuccin-color-sapphire-900: #538ca8;
    --catppuccin-color-sapphire-950: #46768e;
    --catppuccin-color-blue: #89b4fa;
    --catppuccin-color-blue-500: #89b4fa;
    --catppuccin-color-blue-400: #9abdfb;
    --catppuccin-color-blue-300: #aac6fb;
    --catppuccin-color-blue-200: #b7cefc;
    --catppuccin-color-blue-100: #c4d6fc;
    --catppuccin-color-blue-50: #cfdefd;
    --catppuccin-color-blue-600: #83acef;
    --catppuccin-color-blue-700: #799fdd;
    --catppuccin-color-blue-800: #6e90c9;
    --catppuccin-color-blue-900: #617fb2;
    --catppuccin-color-blue-950: #526b96;
    --catppuccin-color-lavender: #b4befe;
    --catppuccin-color-lavender-500: #b4befe;
    --catppuccin-color-lavender-400: #bdc6fe;
    --catppuccin-color-lavender-300: #c6cdfe;
    --catppuccin-color-lavender-200: #ced4fe;
    --catppuccin-color-lavender-100: #d6dbfe;
    --catppuccin-color-lavender-50: #dee2ff;
    --catppuccin-color-lavender-600: #acb5f3;
    --catppuccin-color-lavender-700: #9fa8e1;
    --catppuccin-color-lavender-800: #9098cc;
    --catppuccin-color-lavender-900: #7f86b5;
    --catppuccin-color-lavender-950: #6b7099;
    --catppuccin-color-text: #cdd6f4;
    --catppuccin-color-subtext1: #bac2de;
    --catppuccin-color-subtext0: #a6adc8;
    --catppuccin-color-overlay2: #9399b2;
    --catppuccin-color-overlay1: #7f849c;
    --catppuccin-color-overlay0: #6c7086;
    --catppuccin-color-surface2: #585b70;
    --catppuccin-color-surface1: #45475a;
    --catppuccin-color-surface0: #313244;
    --catppuccin-color-base: #1e1e2e;
    --catppuccin-color-mantle: #181825;
    --catppuccin-color-crust: #11111b;
  }
}
@custom-variant latte (&:where(.latte, .latte *));
@custom-variant frappe (&:where(.frappe, .frappe *));
@custom-variant macchiato (&:where(.macchiato, .macchiato *));
@custom-variant mocha (&:where(.mocha, .mocha *));
