@use 'sass:color';
@use 'sass:list';
@use 'sass:map';


@use "./utils" as utils;
@use "./config" as config;

@use "../node_modules/@catppuccin/palette/scss/catppuccin";




@mixin createColorVariants ($flavor-name, $flavor-colors, $color-name, $color-value) {
  @each $variant-type, $variant-identifier in map.get(config.$variants, 'steps') {

    $blend-color-light: #FFF;
    $blend-color-dark: map.get($flavor-colors, 'base');

    // average latte switch™
    @if ($flavor-name == 'latte') {
      $blend-color-light: map.get($flavor-colors, 'base');
      $blend-color-dark: #000;
    }

    $blend-color: $color-value; // Blend color with itself for the default value to reduce complexity
    @if ($variant-type == 'tints') { $blend-color: $blend-color-light; }
    @if ($variant-type == 'shades') { $blend-color: $blend-color-dark; }

    @for $i from 1 through list.length($variant-identifier) {
      --catppuccin-#{$flavor-name}-#{$color-name}-#{list.nth($variant-identifier, $i)}: #{color.mix($blend-color, $color-value, $i * map.get(config.$variants, 'step-intensity'))};
    }

  }
}



:root {
  @each $flavor-name, $flavor-values in catppuccin.$palette {
    @each $color-name, $color-value in $flavor-values {

      --catppuccin-#{$flavor-name}-#{$color-name}: #{$color-value};

      @if (utils.isAccent($color-name)) {
        @include createColorVariants($flavor-name, $flavor-values, $color-name, $color-value)
      }

    }
  }
}
