<footer class="
  p-6 md:p-12
  bg-ctp-mantle
  text-ctp-subtext0 text-sm text-center
">
  Built with <span class="text-ctp-red">&hearts;</span> and <a href="https://tailwindcss.com" class="text-ctp-blue hover:text-ctp-blue-700">tailwind</a>.
  <br>
  &copy; {new Date(Date.now()).getFullYear()} <a href="https://catppuccin.com" class="text-ctp-blue hover:text-ctp-blue-700">Catppuccin</a>
</footer>
